@import '../../styles/index.scss';

.navbar {
    height: 100px;

    .container-fluid {
        max-width: 1280px;
        padding: 0 0.75rem;

        @include media-breakpoint-up(sm) {
            padding: 0 1.5rem;
        }
    }
}