@import './colors';

$border-color: $gray-300 !default;

$border-width: 1px;
$border-widths: (
  0: 0,
  1: $border-width * 1,
  2: $border-width * 2,
  3: $border-width * 3,
  4: $border-width * 4,
  5: $border-width * 5,
  6: $border-width * 6,
  7: $border-width * 7,
  8: $border-width * 8,
  9: $border-width * 9,
  10: $border-width * 10,
  11: $border-width * 11,
  12: $border-width * 12,
) !default;

$border-radius: 0.25rem !default;
$border-radius-md: 0.5rem !default;
$border-radius-lg: 0.75rem !default;
$border-radius-xl: 1.5rem !default; // Used for accordion-card so far
$border-radius-pill: 50rem !default;
