.icon-xxl {
  height: 4rem !important;
  width: 4rem !important;
}

.icon-xl {
  height: 3rem !important;
  width: 3rem !important;
}

.icon-lg {
  height: 2rem !important;
  width: 2rem !important;
}

.icon-md {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.icon-sm {
  height: 1rem !important;
  width: 1rem !important;
}

.icon-xs {
  height: 0.8125rem !important;
  width: 0.8125rem !important;
}

.icon-sheen-green {
  color: $sheen-green;
  fill: $sheen-green;
}

.icon-coal {
  color: $coal;
  fill: $coal;
}

.icon-blue {
  color: $star-command-blue;
  fill: $star-command-blue;
}

.icon-snow {
  color: $white;
  fill: $white;
}

.icon-hot-magenta {
  color: $hot-magenta;
  fill: $hot-magenta;
}

.icon-blue.disabled {
  fill: $colombia-blue;
}

.icon-spanish-blue {
  color: $spanish-blue;
  fill: $spanish-blue;
}

.icon-red-salsa {
  color: $red-salsa;
  fill: $red-salsa;
}

.icon-gray {
  color: $gray-600;
  fill: $gray-600;
}

.icon-sinopia {
  color: $sinopia;
  fill: $sinopia;
}

.icon-spark {
  color: $sky-blue-crayola;
  fill: $sky-blue-crayola;
}

.icon-build {
  color: $bright-yellow-crayola;
  fill: $bright-yellow-crayola;
}

.icon-connect {
  color: $sheen-green;
  fill: $sheen-green;
}

.icon-learn-more {
  color: $international-orange-aerospace;
  fill: $international-orange-aerospace;
}
